body,html
{
    height: 100%;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1em
    margin: 0;
    color: grey;
}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
}


body {
  background: #000000
}

.nav-main {

  background-color: #222;
  height: 70px;
  color: #fff;

}

.nav-main .logo {
  float: left;
  height: 40px;
  padding: 15px 30px;
  line-height: 40px;
  font-size: 1.4em;
  background-color:#C0C0C0;
}

.nav-main > ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
}

.nav-main > ul > li {
  float: left;
}

.nav-item {
  display: inline-block;
  padding: 15px 20px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-decoration:none;
}

.nav-item:hover {
  background-color: #444
}
.sect {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.subSection {
    height: 50%;
}

.sectOne {
    background-image: url(../img/gamecube2.jpg);

}
.sectTwo {
    background-image: url(../img/sitecss.png);

}
.sectThree {
    background-image: url(../img/hackers-banner3.jpg);

}

.subSectionOne {
    background-image: url(../img/whitekeyboard2.jpg);
    background-size: cover;
}
.subSectionTwo {
    background-image: url(../img/whitekeyboard2.jpg);
    background-size: cover;
}
